.form-pagamento{
    align-items: center;
    max-width: 700px;
    margin: auto;
}
.form-pagamento h1{
    text-align: center;
}
.form-linha {
    margin: auto;
}
.col-md-8{
    margin: auto;
}
.botao-pagamento {
    margin: 20px;
}